@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

header{
    padding: 32px;
}
.img-header{
    padding: 32px auto 32px auto;

}

header h1{
    font-size: 36px;
}

hr{
    background-color: yellow;
    height: 5px;
    border-radius: 10%;

}

a, a:link, a:active{
    text-decoration: none;
    font-weight: bold;
    color: antiquewhite;

}

footer p{
    margin: 8px auto 8px auto;
}